---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NoSQL Toolbox 2.0">
  <div class="flex items-center flex-col">
    <h2 class="text-2xl text-center font-bold">Willkommen!</h2>
    <p class="my-4">
      Beantworte die folgenden Fragen um das für deinen Anwendungsfall am besten
      geeignete Datenbankmanagementsystem zu finden
    </p>
    <a href="/start"><button class="btn btn-primary">Starten</button></a>
  </div>
</Layout>
