---
import tree from "../tree.json";
import { validate } from "@hyperjump/json-schema/draft-2020-12";
import { BASIC } from "@hyperjump/json-schema/experimental";

const o = await validate(
  "./src/schema.json",
  JSON.parse(JSON.stringify(tree)),
  BASIC
);
console.log("Your tree is " + (o.valid ? "valid" : " NOT valid") + "!");
if (!o.valid) {
  console.log("Errors:", o.errors);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{(tree.title || "Error") + " | NoSQL Toolbox 2.0"}</title>
    <meta name="description" content={tree.description} />
  </head>
  <body class="absolute w-full">
    <nav class="flex justify-between mx-3 my-5 md:m-7 items-center">
      <a class="md:text-3xl text-2xl flex items-center btn btn-ghost" href="/">
        NoSQL Toolbox 2.0
      </a>
      <div class="flex justify-end flex-wrap md:gap-4">
        <a href="/info" class="btn btn-ghost text-primary lg:text-lg">About</a>
        <a
          href="https://github.com/kjell5317/nosql-toolbox2"
          class="btn btn-ghost lg:text-lg"
        >
          Dev
        </a>
      </div>
    </nav>
    {
      o.valid ? (
        <slot />
      ) : (
        <div class="flex justify-center mt-16 flex-col items-center">
          <h1 class="text-2xl font-medium text-center">
            Your Tree is invalid!
            <br />
            Please check the console or get more information here:
          </h1>
          <div class="mt-3 flex flex-col">
            {o.errors
              ?.map((e) => e.keyword)
              .filter((e, i, a) => a.indexOf(e) == i)
              .map((e) => {
                console.log(e);
                let link = e.replace(
                  "keyword",
                  "understanding-json-schema/keywords"
                );
                return (
                  <a href={link} class="link link-primary link-hover">
                    {link}
                  </a>
                );
              })}
          </div>
        </div>
      )
    }
    <footer></footer>
  </body>
</html>
